<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - ADV-C52</title>
  <link rel="stylesheet" href="./style.css">
    <style>
        /*Style for body*/
body{
  text-align:center;
}
/*Style for paragraph tag*/
#firstp{
  word-spacing: 10px;
  font-variant: small-caps;
  text-align: center;
  font-size: 80px;
  font-color: black;
}

#reasontext{
  font-size:50px;
}

/*style for image tag*/
#album
{
  border-style:solid;
  border-color:#689F38
  border: 1px
  border-radius: 80px;
  padding: 5px;
  width: 450px;
}
    </style>
</head>
<body>
<!-- partial:index.partial.html -->
<html>
<head>
<title>Save Trees.</title>
</head>
<body>
    <audio id="audio" src="https://mahdihat791.github.io/v2/test.mp3">
</audio>

  <p id="firstp">Save Trees</p>
  <p>Here are 5 Reasons to Save Trees.
    <p>
<img id="album" src="https://images.unsplash.com/photo-1531379115628-32ab7454986c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
 <p id="reasontext"> "Trees Provide oxygen"</p>
</body>
</html>
<!-- partial -->
  <script  src="./script.js">
      var reasons = [
  "Trees Provide Shade",
  "Trees help in retaining the Rainwater",
  "Trees Provide fruits",
  "Trees are natural medicines"
];

var images = [
  "https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ",
  "https://images.unsplash.com/photo-1462143338528-eca9936a4d09?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ",
  "https://images.unsplash.com/photo-1421790500381-fc9b5996f343?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ",
  "https://images.unsplash.com/photo-1485067801970-70573e3f77d0?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
];

var i = 0;
function nextslide() {  document.getElementById("reasontext").innerHTML = reasons[i];
  document.getElementById("album").src = images[i];
  i++;
                      document.getElementById("audio").play();

}
  </script>

</body>
</html>
