<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/main.css" />
    </head>
    <body> 
    
 <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/fashion.jpg" playsinline autoplay muted loop>
<source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/fashion.webm" type="video/webm">
<source src="http://thenewcode.com/assets/videos/fashion.mp4" type="video/mp4">
</video>
<header>
<h1>FASHION</h1>
  <nav>
    <a href="/mycloset">옷장 관리하기</a>
    <a href="/recommendation">Recommendation</a>
    <a href="/getinfo">Closet share</a>
</header>
<div id="fashion">
  <h2>What's in my closet...</h2>
</div>

    </body>
</html>