<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .photoFrame{
      width: 500px;
      height: 500px;
    }
    .photoFrame:hover{
      cursor: pointer;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <h1>
    이미지 불러오기
  </h1>
  <input type="file" id="fileInput"/>
  <button type="button" onclick="location.href='/tononingrid2'">tononin</button>
  <div id="pictures">

  </div>
</body>
<script>
  var fileInput = document.getElementById("fileInput");
  //값이 변경될때 호출 되는 이벤트 리스너
  fileInput.addEventListener('change',function(e){
    var file = e.target.files[0]; //선택된 파일
    var reader = new FileReader();
    reader.readAsDataURL(file); //파일을 읽는 메서드

    reader.onload = function(){
      var photoFrame = document.createElement("div");
      photoFrame.style = `background : url(${reader.result}); background-size : cover`;
      photoFrame.className = "photoFrame";
      document.getElementById("pictures").appendChild(photoFrame);
      e.target.value = "";

      photoFrame.addEventListener("click",function(){
        document.getElementById("pictures").removeChild(photoFrame);
      })
    }
  })
</script>
</html>
